@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f172a;
  background: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  background: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  background: transparent;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}